<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>

<body>
    <button><a href="/">Home</a></button>
    <h1>Tasks</h1>
    <div>
        <% if (tasks.length===0) { %>
            <p>No tasks to show.</p>
            <% } else { %>
                <ul>
                    <% tasks.forEach(function(task) { %>
                        <li>
                            ID: <%= task.id %>, task: <%= task.name %>

                                    <!-- Update form -->
                                    <form method="GET" action="/api/tasks/update/<%= task.id %>">
                                        <button type="submit">Update</button>
                                    </form>

                                    <!-- Delete form -->
                                    <form method="POST" action="/api/tasks/delete/<%= task.id %>?_method=DELETE">
                                        <button type="submit">Delete</button>
                                    </form>

                                    
                                    <!-- GET API form -->
                                    <form method="GET" action="/api/tasks/<%= task.id %>">
                                        <button type="submit">get API</button>
                                    </form>

                        </li>
                        <% }); %>
                </ul>
                <% } %>
                    <button><a href="/tasks/add">Add Task</a></button>
                    <button><a href="/api/tasks/">GET Tasks API</a></button>
    </div>
</body>

</html>